/* You can add global styles to this file, and also import other style files */
body {
  width: 100vw;
  height: 100vh;
}

main {
  height: calc(100% - 128px);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.lift-0 {
  inset-inline-end: 0;
}

.btm--45 {
  inset-block-start: -45%;
}

.alert-position {
  inset-inline-end: 0;
  inset-block-end: -3rem;
  z-index: 2;
  width: 38rem;
}
